* {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(173, 105, 172, 0.868);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 40px;
  color: white;
  align-items: center;
  justify-content: left;
  padding-right:100px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  list-style: none;
  width: 100px;
  height: auto;
  border-radius: 25px;
  background-color: white;
  color: yellow;
  text-align: center;
  cursor: pointer;
}

a {

  font-size:22px;
  color: white;
  text-decoration: none;
  padding: 20px 50px;
  border-radius: 45px;
  transition: 0.5s;
}

nav a:hover {
  background-color: lightpink;
  color: black;
  font-size: 28px;
}